@use './abstracts/variables';

//Set Fonts for titles and sections
@mixin set-font($ffamily, $fweight, $fsize, $fcolor:variables.$clr-black){
    font-family: $ffamily;
    font-weight: $fweight;
    font-size: $fsize;
    color: $fcolor;
}

@mixin set-background-color($fcolorbg){
    background-color: $fcolorbg;
}

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}
