//font: https://fonts.google.com/specimen/Source+Sans+Pro

//font-family
$ff-roboto: 'Roboto', sans-serif;
$ff-montserrat: 'Montserrat', sans-serif;

//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;

//font-size
$fs-lg: 4.375rem; //logo-name, titles
$fs-xmed: 3.438rem; //home page subtitle
$fs-med: 3.125rem; //recipe name/title - our best recipes
$fs-xxmed: 2.5rem; //
$fs-sm: 1.875rem; //homepage description, recipe name/title - featured recipes
$fs-xsm: 1.563rem; //recipe description - our best recipes
$fs-xxsm: 1.375rem; //recipe prep, cook, level - our best recipes
$fs-xxxsm: 1.25rem; //recipe prep, cook, level - featured recipes, footer legal
$fs-xxxxsm: 0.938rem; //

//colors
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0,0%,20.4%);
$clr-red: hsl(2.4,65.7%,54.3%);

//Media-Queries
$phone : '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), (min-resolution: 1.5dppx)';
