@use './abstracts/mixins';
@use './abstracts/variables';
@use './base/typography';


.card-detail-title {
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-bold, variables.$fs-xxmed);
}

.card-detail-description {
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-regular, variables.$fs-xxsm);
}

.card-detail-subtitle {
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-bold, variables.$fs-xxxxsm);
}

.card-detail-item {
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-light, variables.$fs-xxxxsm);
}

.card-detail-text {
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-regular, variables.$fs-xxxsm);
}