@use './abstracts/mixins';
@use './abstracts/variables';
@use './base/typography';


.card-filter-title{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-bold, variables.$fs-xxmed);
}

.card-filter-category{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-light, variables.$fs-xxxsm);
}

.card-filter-name{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-regular, variables.$fs-xxsm);
}

.card-filter-time-level{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-bold, variables.$fs-xxxxsm);
}

.custome-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include mixins.respond-to(variables.$large-desktop) {
        
    }
}

.custome-col{
    flex-basis: 30%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @include mixins.respond-to(variables.$large-desktop) {
        flex-basis: 13%;
    }
}

.custome-btn{
    width: 95%;
    @include mixins.respond-to(variables.$large-desktop) {
        width: 95%;
    }
}



