@use './abstracts/mixins';
@use './abstracts/variables';
@use './base/typography';


.background-footer{
    @include mixins.set-background-color(variables.$clr-red);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.footer-text-link{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-regular, variables.$fs-xxxxsm, variables.$clr-white);
}

.footer-text{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-light, variables.$fs-xxxxsm, variables.$clr-white);
}