@use './abstracts/mixins';
@use './abstracts/variables';
@use './base/typography';


.background-header{
    @include mixins.set-background-color(variables.$clr-red);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.logo-header{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-regular, variables.$fs-med, variables.$clr-white);
}

.nav-text{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-regular, variables.$fs-xxxsm, variables.$clr-white);
}
