@use './abstracts/mixins';
@use './abstracts/variables';
@use './base/typography';


.image-jumbotron{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(105, 105, 105, 0.8) 0%, rgba(105, 105, 105, 0.8) 100%), url("./../images/index-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbo-title{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-regular, variables.$fs-xmed);
}

.jumbo-text{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-light, variables.$fs-xxsm, variables.$clr-white);
}