@use './abstracts/mixins';
@use './abstracts/variables';
@use './base/typography';


.background-login{
    @include mixins.set-background-color(variables.$clr-red);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.image-login{
    background-image: url("./../images/index-background.jpg");
    background-size: cover;
    background-position: left;
    border-radius: 1rem 0 0 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}

.login-title{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-bold, variables.$fs-xxmed);
}

.login-register{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-regular, variables.$fs-xxxxsm);
}

.login-bottom{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-regular, variables.$fs-xxxxsm, variables.$clr-white);
}