@use './abstracts/mixins';
@use './abstracts/variables';
@use './base/typography';

.profile-image{
    background-size: cover;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
}

.profile-username{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-bold, variables.$fs-xxmed);
}

.profile-email{
    @include mixins.set-font(variables.$ff-roboto, variables.$fw-semibold, variables.$fs-xxsm);
}